.footer-main {
  display: flex;
  padding: 6em 6em 3.5em 6em;
}

.footer-main-left {
  height: 344px;
  width: 727px;
}

.footer-main-right {
  display: flex;
  flex-direction: row;
}

.footer-list-1,
.footer-list-2 {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  padding-right: 2.75em;
}
.footer-item {
  font-size: 0.875rem;
  line-height: 22px;
}
.footer-item:not(:first-child) {
  margin-top: 1.72em;
}

.footer-item a {
  text-decoration: none;
  color: var(--color-grey-500);
}
.footer-item a:hover {
  color: var(--color-blue);
}

.footer-sub {
  display: flex;
  padding: 1em 0;
  margin: 0 6em;
  border-top: 1px solid rgb(242, 242, 242);
}

.footer-list {
  list-style: none;
  display: flex;
  margin: 0px;
  font-size: 11px;
  padding: 0;
}

.footer-list li {
  height: 19px;
}

.footer-list-left {
  width: 50vw;
}

.footer-list-right {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.social-icon {
  padding-right: 16px;
  color: #423f3f;
}

.social-icon svg {
  width: 20px;
  height: 20px;
}
.gray-fill {
  fill: var(--color-grey-500);
}

.footer-flag {
  height: 18px;
  width: 24px;
  margin-right: 0.75rem;
}

.footer-link {
  display: flex;
  text-decoration: none;
  color: var(--color-grey-500);
  padding-top: 1.5px;
  align-items: center;
  padding-left: 0.8em;
}

.localization-link {
  display: flex;
  align-items: center;
  padding-bottom: 0.2em;
}

.localization-link-text {
  padding-bottom: 0.2em;
}
